{{define "view"}}
	<html>
		{{template "header"}}
		<body>
			<h1>{{.Title}}</h1>
			<div>{{.BodyAsHtml}}</div>
			<hr><a href="/">Index</a>
			| <a href="/create/">Add</a>
			| <a href="/edit/{{.Id}}">Edit</a>
			| <a href="/delete/{{.Id}}">Delete</a>
		</body>
	</html>
{{end}}
