{{define "view"}}
	<html>
		{{template "header"}}
		<body>
			<h1>{{.Title}}</h1>
			<div>{{.Render}}</div>
			<br><a href="/edit/{{.Title}}">Edit</a>
			| <a href="/remove/{{.Title}}">Delete</a>
			| <a href="/">Index</a>
		</body>
	</html>
{{end}}
