{{define "create"}}
	<html>
		{{template "header"}}
		<body>
			<h1>Add Page</h1>
			<form action="/save/" method="POST">
			<div><textarea name="title" rows="1" cols="80">{{.Title}}</textarea></div><p>
			<div><textarea name="body" rows="20" cols="80">{{.BodyToEdit}}</textarea></div>
			<div><input type="submit" value="Add"></div>
			</form>
			<p><a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown syntax help</a></p>
			<p>To insert a reference to another page, use the syntax [title][] or [text][title].</p>
		</body>
	</html>
{{end}}
